html, body {
  height: 100%;
  width: 100%;
}
.disabled{
    background-color: lightgray;
}
.enabled{
    background-color: inherit;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
fieldset {
    max-width: max-content;
    margin:auto; 
}
div.content {
    text-align: center;
}
input[type=button] {
  font-size: 2rem;
}
p.one-line-code::before {
  content: '    ';
  white-space: pre-wrap;
}
@font-face {
  font-family: HangulNemoHand;
  src: 
    url('https://yssgo.github.io/mm-to-px/HangulNemoHand.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
div#usage {
  font-family: HangulNemoHand;
  font-size: 2em;
}
input[value="변환"] {
   font-family: HangulNemoHand;
}
input[type="text"]{
  font-family: HangulNemoHand;
  font-size: 1.5em;
}
#full_url {
  font-family: HangulNemoHand;
  font-size: 1em;
}


