@font-face {
  font-family: HangulNemoHand;
  src: 
    url('https://yssgo.github.io/mm-to-px/HangulNemoHand.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: HangulYuneTaza;
  src: 
    url('https://yssgo.github.io/mm-to-px/HangulYuneTaza.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  width: 100%;
}
.disabled{
    background-color: lightgray;
}
.enabled{
    background-color: inherit;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
fieldset {
    max-width: max-content;
    margin:auto; 
}
div.content {
    text-align: center;
}
input[type=button] {
  font-size: 2rem;
}
p.one-line-code::before {
  content: '    ';
  white-space: pre-wrap;
}

#usage {
  font-family: HangulNemoHand;
  font-size: 1.3em;  
}
#usage p {
  margin: 0.2em auto;
}
input[value="변환"] {
   font-family: HangulNemoHand;
}
#nbUnitsX, #nbUnitsY, #nbUnitsConvertedX, #nbUnitsConvertedY, #precision, #dpi_text {
  font-family: HangulNemoHand;
  font-size: 1.5em;
}
#full_url {
  font-family: HangulNemoHand;
  font-size: 1em;
}
h1 {
  font-family: HangulYuneTaza;
}

